# Editors
*.kate-swp
*~
\#*#
.#*
.*.swp
.project
cscope.files
cscope.out
*.orig
## NetBeans
nbproject*
project.index
## Sublime
sublime-*
sftp-config.json

# Composer
/vendor
/composer.lock
/composer.local.json
/composer.phar

# Operating systems
## Mac OS X
.DS_Store
## Windows
Thumbs.db